/* ------------------- */
/* Imports             */
/* ------------------- */

@import 'reset.css';
@import 'variables.css';
@import 'globals.css';
@import 'components.css';
@import 'pages.css';


/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > * + * {      /*for spacing!*/
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
}

.grid-container * {
    max-width: 50ch;
}

@media (min-width: 45rem) {
        .grid-container {
            
            column-gap: var(--container-gap, 2rem);
            grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
    }

    .grid-container > *:first-child {
    grid-column: 2;
    text-align: left;
}

    .grid-container > *:last-child {
        grid-column: 3;
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}