/* ----------------------------- */
/* Backgrounds                   */
/* ----------------------------- */
/* I used pseudo elements to make the background fade smoothly while changing the page. Didn't want to make the header fade too.*/
body {
    position: relative;  
    background-image: none 
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -1; 
    transition: opacity 0.3s ease;
}

.home::before {
    background-image: url(../assets/home/background-home-mobile.jpg);
}

.destination::before {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
}

.crew::before {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.technology::before {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 35rem) {
    .home::before {
        background-position: center center;
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
    .destination::before {
        background-position: center center;
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    .crew::before {
        background-position: center center;
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }
    .technology::before {
        background-position: center center;
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home::before {
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
    .destination::before {
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
    .crew::before {
        background-position: bottom center;
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
    .technology::before {
        background-image: url(../assets/technology/background-technology-desktop.jpg);
    }
}

/* Класс, который запускает исчезновение фона */
body.page-transitioning::before {
    opacity: 0;
}

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */


.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    align-self: flex-start;
}

/* -----------------------------  destination layout */

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.numbered-title {
    grid-area: title;
}

.grid-container--destination > picture {
    grid-area: image;
    max-width: 80%;
    align-self: start;
    justify-self: center;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination-meta p {
    font-size: 1.75rem;
}

/* ------------------------------------ crew layout */

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}
.grid-container--crew > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .15);
}

.grid-container--crew > .dot-indicators {
    grid-area: tabs;
}

.grid-container--crew > .crew-info {
    grid-area: content;
}

.crew-info h2 {
    opacity: .5;
}

@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }    

    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
    }
}


/* ------------------------------------ technology layout */
.grid-container--technology {
    padding-inline: 0;
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--technology > img {
    grid-area: image;
    max-width: 100%;
}

.grid-container--technology > .num-indicators {
    grid-area: tabs;
    justify-content: center;
    align-items: center;
}

.grid-container--technology > .technology-wrapper {
    grid-area: content;
    flex-direction: column;
}

.technology-info h2 {
    opacity: .5;
}

.technology-wrapper {
    justify-content: space-between;
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }

    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination > picture {
        max-width: 80%;
    }

    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }

    .grid-container--crew {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-template-areas: 
            '. title image .'
            '. content image .'
            '. tabs image .';
    }
    
    .grid-container--crew > picture {
        align-self: end;
        max-width: 100%;
        max-height: 100%;
    }

    .grid-container--crew > .dot-indicators {
        align-self: flex-end;
        margin-bottom: 2rem;
    }
    
    .grid-container--technology {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 35rem) minmax(0, 25rem) minmax(1rem, 1fr);
        grid-template-areas: 
            '. title title .'
            '. content image image'
            '. content image image';
    }

    .grid-container--technology > .technology-wrapper {
        flex-direction: row;
    }

    .grid-container--technology > .technology-wrapper > .num-indicators {
        flex-direction: column;
    }

    .grid-container--technology > img {
        justify-self: right;
    }

}




/* ----------------------------- */
/* Animations                    */
/* ----------------------------- */

.fade-out { /* for tabs switching */
  opacity: 0;
}

/*  destination animations */
.destination-info h2,
.destination-info p,
.destination-meta p,
.grid-container--destination picture {
  transition: opacity 0.5s ease-in-out;
}

.grid-container--destination {
  position: relative;
}
/*  destination animations */
.crew-info h2,
.crew-info p,
.crew-info picture {
    transition: opacity 0.6s ease;
}
/*  technology animations */
.technology-info h2,
.technology-info p,
.grid-container--technology img {
    transition: opacity 0.6s ease;
}
.fade-out {
    opacity: 0;
}